<main>
    <form class="error-internal-server-page">
        <div class="errorInternalServer-page__content">
            {{> PageTitle title="500" }}
            {{> PageTitle title="Мы уже фиксим" }}
        </div>
        <nav class="errorInternalServer-page__footer">
            {{> Link page="start" text="Вернуться на стартовую страничку"}}
        </nav>
    </form>
</main>
