{{#> Dialog }}
  <form class="errorInternalServer-page">
    <div class="errorInternalServer-page__content">
      {{> PageTitle title="500" }}
      {{> PageTitle title="Мы уже фиксим" }}

    </div>
    <div class="errorInternalServer-page__footer">
        {{> Button text="Вернуться на стартовую страничку" page="start" }}

    </div>
  </form>
{{/ Dialog }}
