:root {
  --white:white;
  --orange: #dea848;
  --blue: #5885dc;
  --blue-light: #88a7ec;
  --success:black;
  --gray-0: #dad6d6;
  --gray-1: #d2cccc;
  --gray-light: #c4bebe;
  --gray-3: #6c6666;
  --gray-dark: #383232;

  box-sizing: border-box;
}


