<main>
    <form class="changeAll-page">
        <div class="changeAll-page__avatar-container">
            <img src="../assets/Птица-секретарь.png" alt="Профиль" class="chat-page__profile-icon"/>
        </div>
        <div class="changeAll-page__nickname">
            <span class="chat-page__username">Динка</span>
        </div>
        <div class="changeAll-page__content">
            {{> InputField className="changeAll-page__input" title="Старый пароль" name="password" value="1234" type="password"}}
            {{> InputField className="changeAll-page__input" title="Новый пароль" name="password" value="123456" type="password"}}
            {{> InputField className="changeAll-page__input" title="Повторите новый пароль" name="password" value="123456" type="password"}}
        </div>
        <nav class="changeAll-page__footer">
            {{> Button text="Сохранить" page="chat" }}
            {{> Link page="chat" text="Отменить"}}
        </nav>
    </form>
</main>
