.user-page {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;

  &__avatar-container {
    text-align: center;
    margin-top: 20px;
  }

  &__nickname {
    text-align: center;
    margin-top: 10px;
  }

  &__content {
    flex: 1;
    margin-top: 20px;
  }

  &__input {
    margin-top: 16px;
  }

  &__footer {
    margin-top: 20px;
    text-align: center;
  }

}
