{{#> Dialog }}
    <main>
        <form class="user-page">
            <div class="user-page__avatar-container">
                <img src="../assets/Птица-секретарь.png" alt="Профиль" class="chat-page__profile-icon"/>
            </div>
            <div class="user-page__nickname">
                <h2 class="chat-page__username">Динка</h2>
            </div>
            <div class="user-page__content">
                {{> InputField className="user-page__input" title="Почта" name="email" value="example@example.com" }}
                {{> InputField className="user-page__input" title="Логин" name="login" value="example_login" }}
                {{> InputField className="user-page__input" title="Имя" name="name" value="Дина" }}
                {{> InputField className="user-page__input" title="Фамилия" name="surname" value="Пупина" }}
                {{> InputField className="user-page__input" title="Имя в чате" name="name in chat" value="Динка" }}
                {{> InputField className="user-page__input" title="Телефон" name="phone" value="8-925-111-11-11" }}
            </div>
            <nav class="user-page__footer">
                {{> Link page="changeData" text="Изменить данные"}}
                {{> Link page="changeData" text="Изменить пароль"}}
                {{> Link page="start" text="Выйти"}}
            </nav>
        </form>
    </main>
{{/ Dialog }}
