<main>
    <form class="errorNotFound-page">
        <div class="errorNotFound-page__content">
            {{> PageTitle title="404" }}
            {{> PageTitle title="Не туда попали" }}
        </div>
        <nav class="errorNotFound-page__footer">
            {{> Link page="start" text="Вернуться на стартовую страничку"}}
        </nav>
    </form>
</main>
