{{#> Dialog }}
    <main>
        <form class="start-page">
            <div class="start-page__content">
                {{> PageTitle title="Актуальные странички" }}
            </div>
            <nav class="start-page__footer">
                {{> Button text="Авторизация" page="login" }}
                {{> Button text="Регистрация" page="registration" }}
                {{> Button text="Чаты" page="chat" }}
                {{> Button text="Посмотреть страничку пользователя" page="user" }}
                {{> Button text="Изменить страничку пользователя" page="changeData" }}
                {{> Button text="Изменить пароль пользователя" page="changePassword" }}
                {{> Button text="Посмотреть ошибку 404" page="errorNotFound" }}
                {{> Button text="Посмотреть ошибку 500" page="errorInternalServer" }}
            </nav>
        </form>
    </main>
{{/ Dialog }}
