{{#> Dialog }}
  <form class="start-page">
    <div class="start-page__content">
      {{> PageTitle title="Актуальные странички" }}
    </div>
    <div class="start-page__footer">
      {{> Button text="Логин" page="login" }}
      {{> Button text="Регистрация" page="registration" }}
      {{> Button text="Чаты" page="chat" }}
      {{> Button text="Посмотреть страничку пользователя" page="changeData" }}
      {{> Button text="Посмотреть ошибку 404" page="errorNotFound" }}
      {{> Button text="Посмотреть ошибку 500" page="errorInternalServer" }}
    </div>
  </form>
{{/ Dialog }}
