<main class="chat-page">
    <nav class="chat-page__sidebar">
        <img src="../assets/Птица-секретарь.png" alt="Профиль" class="chat-page__profile-icon"/>
        <span class="chat-page__username">Динка</span>
        {{> Link page="start" text="Профиль"}}
        <form>
            <input type="text" placeholder="Поиск по сообщениям..." class="chat-page__search-input"/>
        </form>
        {{#> ChatList className="chat-page__list" }}
            {{#each (chat-page-list)}}
                {{> ChatItem }}
            {{/each}}
        {{/ ChatList }}
    </nav>
    <section class="chat-page__dialog">
        <header class="chat-page__header">
            <img src="../assets/Мандаринка.png" alt="Профиль" class="chat-page__profile-icon"/>
            <span class="chat-page__username">Мандаринка</span>
        </header>
        <div class="chat-page__messages">
            <div class="message">
                <span class="message__text">Факт: одно занятие в день очищает совесть и улучшает сон</span>
            </div>
            <div class="message">
                <span class="message__text">Используйте функцию «Краткий пересказ», чтобы сохранить ёмкую версию пройденного урока. А если захотите написать заметку, это можно сделать прямо в учебнике.</span>
            </div>
            <div class="message">
                <span class="message__text">Ты есть в Телеграмм, а я в Красной Книге</span>
            </div>
        </div>
        <form class="chat-page__input">
            <input type="text" name="message" placeholder="Напишите сообщение..." class="chat-page__input-field"/>
            <button class="chat-page__send-button">Отправить сообщение</button>
        </form>
        {{> Link page="start" text="Назад к стартовой страничке"}}
    </section>
</main>
